.logo {
    color: $accent-color;

    @include font($bold, 26px, 1.2, 0.03em, $logo-font);
    @extend %link;
}

.page-header__logo {
    margin-right: 93px;
}

.logo--part-black {
    color: #000000;
}

.page-footer__logo {
    display: inline-block;
    margin: 0 0 20px;
}

.logo--part-white {
    color: $primery-color;
}