@mixin font($weight, $size, $line-height, $letter-spacing:0.03em, $family: Roboto) {
    font-family: $family, sans-serif;
    font-weight: $weight;
    font-size: $size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

@mixin flexbox($align:stretch, $justify:flex-start) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}